.mybtns{
    font-size: 3rem;
    background-color: hsl(193, 100%, 67%);
    border: none;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px hsl(0, 0%, 30%);
    transition: background-color 0.25s;
}
.mybtns:hover{
    background-color: hsl(193, 100%, 77%);
}
.mybtns:active{
    background-color: hsl(193, 100%, 87%);
}
