#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: impact;
}
#ButtonCnt{
    text-align: center;
    font-family: Impact;
}
.Buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(198, 94, 82);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.Buttons:hover{
    background-color: rgba(139, 17, 17, 0.908);
}
#H1{
    font-size: 3em;
    text-align: center;
    font-family: Impact;
    color: rgb(255, 255, 255);
}
#Header{
    padding: 2px;
    background-color: rgba(2, 73, 139, 0.586);
    border-radius: 5px;
}