body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myBox{
    font-size: 3rem;
    width: 400px;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
}
#myBtn{
    font-size: 3rem;
    width: 200px;
    text-align: center;
}