body{
    text-align: center;
    font-size: 1.4em;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(228, 228, 228);
}
#Head{
    color: rgb(0, 38, 94);
}
#myinput{
    border:none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: textfield;
    background: rgb(221, 221, 221);
    padding: 10px;
    width: 200px;
    outline: none;
}
.custom-field{
    position: relative;
    padding-top: 20px;
}
.custom-field .placeholder{
    position: absolute;
    font-size: 15px;
    left: 10px;
    top: calc(50% + 13px);
    font-family: verdana;
    color: rgb(157, 157, 157);
    transform: translateY(-50%);
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.custom-field input:valid +.placeholder,
.custom-field input:focus +.placeholder{
    top: 8px;
    font-size: 12px;
    color: rgb(88, 88, 88);
}
#message.alert{
    background-color: rgb(194, 58, 40);
    color: white;
    border-radius: 4px;
    padding: 5px 20px;
    transition: 0.25s,opacity 0.25s ease-in-out;
}
.divid{
    margin-bottom: 10px;
}
#diceresult{
    padding: 10px;
    margin: 10px;
    transition: 0.25s,opacity 0.25s ease-in-out;
}
#diceimages img{
    width: 150px;
    margin: 10px;
    transition: 0.25s,opacity 0.25s ease-in-out;
}
#mybtn{
    font-size: 1em;
    background-color: rgb(0, 69, 173);
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.25s;
}
#mybtn:hover{
    background-color: rgb(68, 108, 168);
}
#mybtn:active{
    background-color: rgb(190, 229, 248);
}